# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://voice-be.subhadeep.xyz
NEXT_PUBLIC_WEBSOCKET_URL=wss://websocket-hub.onrender.com
NEXT_PUBLIC_CALL_AGENT_URL=https://backend-voiceagent.indominuslabs.in

# Optional: Override for local development

# NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://awtaamzklraziofgjqvz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3dGFhbXprbHJhemlvZmdqcXZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2NzI4MzgsImV4cCI6MjA3MzI0ODgzOH0.0-s_FgNtxqlyaiEVsb4GvPs-iY0y64iPGHD3-WKmL_8